<div class="col-md-6 col-12">
  {% form 'product', product, class: 'product-form', id: 'AddToCartForm' %}
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'title' %}
          <h1>{{ product.title }}</h1>
        {% when 'price' %}
          <p>{{ current_product.price | money_with_currency }}</p>
        {% when 'variant_selector' %}
          <div class="mb-3">
            <label for="productSelect" class="form-label">Size</label>
            <select name="id" id="productSelect" class="form-select">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option value="{{ variant.id }}">
                    {{ variant.title }}
                  </option>
                {% else %}
                  <option value="{{ variant.id }}" disabled="disabled">
                    {{ variant.title }}
                  </option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        {% when 'quantity' %}
          <div class="mb-3">
            <label for="Quantity" class="form-label">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="Quantity" value="1" min="1">
          </div>
        {% when 'checkout_buttons' %}
          <button type="submit" name="add" id="AddToCard" class="btn btn-secondary btn-lg w-100 rounded-0">
            Add To Cart
          </button>

          {% if section.settings.dynamic_buttons_checkbox == true %}
            {{ form | payment_button }}
          {% endif %}
        {% when 'description' %}
          <p>{{ product.description }}</p>
        {% else %}

      {% endcase %}
    {% endfor %}
  {% endform %}
</div>


