{{ 'owl.carousel.min.css' | asset_url | stylesheet_tag }}
{{ 'owl.theme.default.min.css' | asset_url | stylesheet_tag }}

<div class="owl-container">
  <div class="owl-carousel owl-theme ">
    {% for image in product.images %}
      <div class="item">
        <img
          class="card-img-top card-img-top-custom"
          src="{{ image | img_url: 'master'}}"
          alt="{{ image.alt }}">
      </div>
    {% endfor %}
  </div>
</div>

<div class="owl-container">
  <div class="owl-theme" id="owl-min-carousel">
    {% for image in product.images %}
      <div class="item">
        <img
          class="card card-custom"
          src="{{ image | img_url: 'master'}}"
          alt="{{ image.alt }}">
      </div>
    {% endfor %}
  </div>
</div>

<style>
  .product-title-custom {
    font-weight: 900;
    font-size: 46px;
    line-height: 59.8px;
    margin: 20px 0;
  }

  .card-img-top-custom {
    width: 600px;
    height: 600px;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  .card-custom {
    width: 104px;
    height: 104px;
    border-radius: 4px;
    margin: 0 8px;
  }

  .price-discount {
    font-family: Lato
    , 'Source Sans Pro';
    font-weight: 700;
    font-size: 24px;
    line-height: 31.2px;
    color: #ff4242;
    margin-right: 10px;
  }

  h5.price-original {
    font-family: Lato
    , 'Source Sans Pro';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0;
    text-align: left;
    color: #787a80;
  }

  .accordion-edf {
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;
  }

  .share--gFb {
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0;
    text-align: left;
    color: #1e212c;
  }

  .social-media {
    width: 20px;
    height: 20px;
    top: 0.83px;
    left: 5.35px;
    margin: 0 10px;
    color: #787a80;
  }

  input.btn {
    width: 244px;
    height: 44px;
    padding: 0 32px;
    border-radius: 4px;
    gap: 10px;
    background-color: #17696a;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    font-family: Lato
    , 'Source Sans Pro';
    letter-spacing: 0.5px;
    line-height: 44px;
  }

  .col-6.second-col {
    display: flex;
    align-items: self-start;
    align-content: stretch;
    flex-direction: column;
    padding-left: 100px;
  }
  div#owl-min-carousel {
    display: flex;
    justify-content: space-between;
  }

  button.owl-next {
    margin-right: 25px !important;
  }

  .owl-next {
    right: 0 !important;
    outline: none !important;
    border: 0 !important;
    font-size: 100px !important;
    position: absolute !important;
    top: 30% !important;
    background-color: transparent !important;
    color: black !important;
  }

  button.owl-prev {
    margin-left: 25px !important;
  }

  .owl-prev {
    left: 0 !important;
    outline: none !important;
    border: 0 !important;
    font-size: 100px !important;
    position: absolute !important;
    top: 30% !important;
    background-color: transparent !important;
    color: black !important;
  }

  .color-custom {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;

  }

  .custom-chip-colors {
    display: flex;
    justify-content: flex-start;
  }

  .circle-color {
    cursor: pointer;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
    transition: border-width 0.2s ease-in-out;
  }

  .circle-color:hover {
    border-width: 3px !important;
  }

  .circle-color.selected {
    border-width: 3px;
    border-color: #333;
    /* Puedes ajustar el color del borde para el estado seleccionado */
  }

  .color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  .beige {
    background-color: #F5F5DC;
  }

  .blue {
    background-color: #C0DDED;
  }

  .yellow {
    background-color: yellow;
  }


  /* Agrega más clases de color según sea necesario */

</style>